<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/Theme.Algorithm"
        tools:targetApi="35">
        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Algorithm">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.ProblemListActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Algorithm.NoActionBar" />
        <activity
            android:name=".ui.MethodSelectionActivity"
            android:parentActivityName=".ui.ProblemListActivity"
            android:theme="@style/Theme.Algorithm.NoActionBar" />
        <activity
            android:name=".ui.InputActivity"
            android:parentActivityName=".ui.MethodSelectionActivity"
            android:theme="@style/Theme.Algorithm.NoActionBar" />
        <activity
            android:name=".ui.ResultActivity"
            android:parentActivityName=".ui.InputActivity"
            android:theme="@style/Theme.Algorithm.NoActionBar" />
        <activity
            android:name=".ui.AISolutionActivity"
            android:parentActivityName=".ui.ResultActivity"
            android:theme="@style/Theme.Algorithm.NoActionBar" />
        <activity
            android:name=".ui.SettingsActivity"
            android:parentActivityName=".ui.MainActivity"
            android:theme="@style/Theme.Algorithm.NoActionBar" />
    </application>

</manifest>

